@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
}

#user-container img{
    width: 250px;
}